img,
div,
ft-click,
ft-video-controls {
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

body {
  color: #000;
  margin: 0;

}

.bannerSize {
  width: 728px;
  height: 90px;
}

#banner {
  overflow: hidden;
}

#cover {
  background-color: #f4f4f4;
  top: 0;
  z-index: 949;
}

.clickthrough {
  cursor: pointer;
  z-index: 800;
}

.defaultBorder {
  border: 1px solid #000000;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
  z-index: 850;
}

.defaultSize {
  height: 90px;
  width: 728px;
}

.expandSize {
  height: 250px;
  width: 728px;
}

ft-default {
  background-color: #013D5B;
  height: 90px;
  text-align: center;
  width: 728px;
}

.ballCont {
  height: 60px;
  left: 728px;
  top: 0;
  width: 52px;
  z-index: 20;
}

#ball {
  height: 52px;
  left: 0;
  top: 20px;
  width: inherit;
}

#shadow {
  height: 12px;
  left: 0;
  opacity: 0.8;
  top: 80px;
  width: 58px;

}

/* frame 1 */
#txt1Cont {
  height: 90px;
  left: 0px;
  overflow: hidden;
  top: 0px;
  width: 728px;
  z-index: 10;
}

#txt1a {
  height: 57px;
  left: 245px;
  top: 18px;
  width: 299px;
}

#rArrow {
  height: 22px;
  left: 638px;
  top: 37px;
  width: 14px;
}

/* Collapsed Cap One Logo ------------ */
.capOneLogo {
  height: 58px;
  left: 24px;
  top: 21px;
  transform: scale(0.82);
  transform-origin: top left;
  width: 157px;
  z-index: 5;
}

#redSwoop {
  height: 58px;
  left: 42px;
  top: 0;
  width: 109px;
}

#capital {
  height: 24px;
  left: 0;
  top: 24px;
  width: 107px;
}

#one {
  height: 24px;
  left: 106px;
  top: 24px;
  width: 50px;
}

/* Expanded Cap One Logo ------------ */
.expCapOneLogo {
  height: 70px;
  left: 22px;
  top: 33px;
  transform: scale(0.51);
  transform-origin: top left;
  width: 197px;
  z-index: 800;
}

.expCapOneLogo #expRedSwoop {
  height: 70px;
  left: 51px;
  top: 0;
  width: 137px;
}

.expCapOneLogo #expCapital {
  height: 29px;
  left: 0;
  top: 29px;
  width: 134px;
}

.expCapOneLogo #expOne {
  height: 29px;
  left: 130px;
  top: 29px;
  width: 63px;
}

#txt2a {
  height: 12px;
  left: 26px;
  top: 110px;
  width: 199px;
  z-index: 201;
}

#txt2b {
  height: 18px;
  left: 25px;
  top: 126px;
  width: 214px;
  z-index: 202;
}

#rArrowExp {
  height: 18px;
  left: 251px;
  top: 117px;
  width: 12px;
}

#mlbLockupCont {
  height: 41px;
  left: 0;
  overflow: hidden;
  top: 189px;
  width: 278px;
}

#mlbLockup {
  height: inherit;
  left: 20px;
  width: 242px;
}

.ballContExp {
  height: 110px;
  left: 283px;
  top: 181px;
  width: 52px;
  z-index: 220;
}

#ballExp {
  height: 52px;
  top: 0;
  left: 0;
  width: inherit;
}

#shadowExp {
  height: 15px;
  left: -1px;
  opacity: 0.6;
  top: 78px;
  width: 76px;
}

ft-expand {
  background-color: #013D5B;
  height: 250px;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 728px;
}

#close {
  right: 0;
  top: 0;
  z-index: 850;
}

.expandBtn,
.closeBtn {
  height: 20px;
  right: 1px;
  top: 1px;
  transform: rotate(180deg);
  width: 20px;
  z-index: 850;
}

.closeBtn {
  transform: rotate(0deg);
}

.videoCont {
  height: 250px;
  left: 278px;
  top: 0;
  width: 449px;
  z-index: 830;
}

#vidPoster {
  height: inherit;
  left: 0;
  width: inherit;
  z-index: 831;
}

#video1 {
  height: inherit;
  left: 0;
  position: absolute;
  width: inherit;
}

#tap {
  margin: 0;
  padding-top: 17.5px;
}