img,
div,
ft-click,
ft-video-controls {
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

body {
  color: #000;
  margin: 0;

}

.bannerSize {
  width: 1280px;
  height: 100px;
}

#banner {
  overflow: hidden;
}

#cover {
  background-color: #f4f4f4;
  top: 0;
  z-index: 949;
}

.clickthrough {
  cursor: pointer;
  z-index: 800;
}

.defaultBorder {
  border: 1px solid #000000;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
  z-index: 850;
}

.defaultSize {
  height: 100px;
  width: 1280px;
}

.expandSize {
  height: 418px;
  width: 1280px;
}

ft-default {
  background-color: #013D5B;
  height: 100px;
  text-align: center;
  width: 1280px;
}

.ballCont {
  height: 60px;
  left: 1280px;
  top: 0;
  width: 50px;
  z-index: 20;
}

#ball {
  height: 50px;
  left: 0;
  top: 20px;
  width: inherit;
}

#shadow {
  height: 12px;
  left: 0;
  opacity: 0.8;
  top: 80px;
  width: 58px;

}

/* frame 1 */
#txt1Cont {
  height: 90px;
  left: 0px;
  overflow: hidden;
  top: 0px;
  width: 1270px;
  z-index: 10;
}

#txt1a {
  height: 39px;
  left: 253px;
  top: 34px;
  width: 720px;
}

#fdicLogo {
  height: 29px;
  left: 1043px;
  top: 36px;
  width: 46px;
}

#rArrow {
  height: 28px;
  left: 1186px;
  top: 36px;
  width: 18px;
}

/* Collapsed Cap One Logo ------------ */
.capOneLogo {
  height: 58px;
  left: 24px;
  top: 22px;
  transform: scale(0.98);
  transform-origin: top left;
  width: 157px;
  z-index: 5;
}

#redSwoop {
  height: 58px;
  left: 42px;
  top: 0;
  width: 109px;
}

#capital {
  height: 24px;
  left: 0;
  top: 24px;
  width: 107px;
}

#one {
  height: 24px;
  left: 106px;
  top: 24px;
  width: 50px;
}

/* Expanded Cap One Logo ------------ */
.expCapOneLogo {
  height: 70px;
  left: 69px;
  top: 32px;
  transform: scale(.91);
  transform-origin: top left;
  width: 197px;
  z-index: 800;
}

.expCapOneLogo #expRedSwoop {
  height: 70px;
  left: 51px;
  top: 0;
  width: 137px;
}

.expCapOneLogo #expCapital {
  height: 29px;
  left: 0;
  top: 29px;
  width: 134px;
}

.expCapOneLogo #expOne {
  height: 29px;
  left: 130px;
  top: 29px;
  width: 63px;
}

#txt2a {
  height: 26px;
  left: 73px;
  top: 150px;
  width: 294px;
  z-index: 201;
}

#txt2b {
  height: 32px;
  left: 71px;
  top: 192px;
  width: 306px;
  z-index: 202;
}

#txt2c {
  height: 25px;
  left: 70px;
  top: 254px;
  width: 258px;
  z-index: 202;
}

#rArrowExp {
  height: 21px;
  left: 366px;
  top: 257px;
  width: 13px;
}

#mlbLockupCont {
  height: 53px;
  left: 0;
  overflow: hidden;
  top: 344px;
  width: 529px;
}

#mlbLockup {
  height: inherit;
  left: 63px;
  width: 308px;
}

.ballContExp {
  height: 110px;
  left: 542px;
  top: 317px;
  width: 69px;
  z-index: 220;
}

#ballExp {
  height: 69px;
  top: 0;
  left: 0;
  width: inherit;
}

#shadowExp {
  height: 15px;
  left: -1px;
  opacity: 0.6;
  top: 78px;
  width: 76px;
}

ft-expand {
  background-color: #013D5B;
  height: 418px;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 1280px;
}

#close {
  right: 0;
  top: 0;
  z-index: 850;
}

.expandBtn,
.closeBtn {
  height: 20px;
  right: 1px;
  top: 1px;
  transform: rotate(180deg);
  width: 20px;
  z-index: 850;
}

.closeBtn {
  transform: rotate(0deg);
}

.videoCont {
  height: 419px;
  right: 0px;
  top: 0;
  width: 741px;
  z-index: 830;
}

#vidPoster {
  height: inherit;
  left: 0;
  width: inherit;
  z-index: 831;
}

#video1 {
  height: inherit;
  left: 0;
  position: absolute;
  width: inherit;
}

#tap {
  margin: 0;
  padding-top: 17.5px;
}